aiohttp==3.9.3
Brotli==1.0.9
cchardet==2.1.7
elasticsearch==8.12.1
Faker==23.3.0
gevent==24.2.1
loguru==0.6.0
lxml==5.1.0
ping3==4.0.4
protobuf==4.25.3
pycryptodome==3.20.0
pyOpenSSL==23.2.0
pyOpenSSL==24.0.0
python_bcrypt==0.3.2
redis==5.0.1
setuptools==69.0.3
simplejson==3.19.2
soupsieve==2.5
ujson==5.9.0
webencodings==0.5.1
win_inet_pton==1.1.0
